<h1>Student Name: <%= @lesson.student_name %></h1>

<h2>Date of lesson: <%= @lesson.lesson_date%>

<table>
    <tr>
        <th>Lesson Number</th>
        <th>Lesson Topic</th>
        <th>Lesson Description</th>
    </tr>
    <tr>
        <td><%= @lesson.lesson_number%></td>
        <td><%= @lesson.lesson_topic%></td>
        <td><%= @lesson.lesson_description%></td>
    </tr>
</table>

<br>

<%= link_to "Edit", edit_lesson_path(@lesson)%>
<%= link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure you want to delete this log?' } %>
<%= link_to 'Back', root_path(@lesson) %>
